/*
 * Empty Stylesheet file.
 */


.mainFxmlClass{
 -fx-font-size: 14pt;
 -fx-font-family: "Tahoma";
 -fx-background: #66FF66;
}

Label, TextField{
 -fx-font-size: 16pt;
}
textarea{
 /*-fx-font-size: 40pt;*/
}
HBox, BorderPane{
  -fx-background-color: white;
}
HBox{
    -fx-background-color: #63beff;
}
.buttonPic{
 -fx-background-size: 100px;
 -fx-background-repeat: no-repeat;
 -fx-background-position: 90%;
 -fx-background-radius: 15px;
 -fx-background-color: #0a76c4;
 -fx-border-radius: 5px;
 -fx-border-width: 5px;
}
.buttonPic:hover{
  -fx-border-color: #065a96;
}
#homeButton{
 -fx-background-image: url("../icons/Twitter_Social_Icon_Rounded_Square_Color.png");    
}
#tweetButton{
  -fx-border-radius: 5px;
  -fx-background-image: url("../icons/tweet.png");
}
#directMessageButton{
  -fx-background-image: url("../icons/envelope.png");
}
#receiveDirectMessageButton{
  -fx-background-image: url("../icons/receive.png");
}
#helpButton{
  -fx-background-image: url("../icons/questionmark.png");
}
#exitButton{
  -fx-background-image: url("../icons/exit.png");
}
#myProfileButton{
  -fx-background-image: url("../icons/myprofile.png");
}

#receiveButton:hover{
  -fx-border-color: none;
}
#sendDirectmessageButton:hover{
  -fx-border-color: none;
}

#showTimelineButton:hover{
  -fx-border-color: none;
}
.tweetButtons {
    -fx-text-fill: black;
}


#reply{
    /*-fx-background-image: url("../icons/reply.png");*/
    -fx-border-radius: none;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 5px;
    /*-fx-background-color: #0a76c4;*/
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
}

#retweet{
    /*-fx-background-image: url("../icons/retweet.png");*/
    -fx-border-radius: none;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 5px;
    /*-fx-background-color: #0a76c4;*/
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
}

#like{
    /*-fx-background-image: url("../icons/like.png");*/
    -fx-border-radius: none;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 5px;
    /**-fx-background-color: #0a76c4;**/
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
}

.tweetButtons:hover {
    -fx-background-color: #3584d4;
    -fx-border-color: none;
}

#saveButton{
    -fx-border-radius: none;
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius: 5px;
    -fx-background-color: #0a76c4;
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-background-image: url('../icons/save.png');
}

.whiteText{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#helpLabel{
    -fx-font-size: 12pt;
}